services:
    comfyui:
        image: blivioniag/comfyui_rocm_pytorch
        container_name: comfyui
        cap_add:
          - SYS_PTRACE
        security_opt:
          - seccomp=unconfined
        devices:
          - /dev/kfd
          - /dev/dri
        group_add:
          - video
        ipc: host
        ports:
            - "8188:8188"
        volumes:
            - models:/app/models
            - output:/app/output
            - workflows:/app/user/default/workflows
        restart: always
volumes:
    models:
    output:
    workflows:
